/* www/styles.css */
.custom-spacing {
  margin-top: 30px;
}

.box-border {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-default {
 background-color: #15354A !important;
}

a {
  background-color: #15354A !important;
  color: white !important;
}

a:focus {
  background-color: #446b85 !important;
}

a:hover {
  background-color: #122430 !important;
}

span {
  color: white !important;
}

.input-group-addon {
  background-color: #122430;
}

.well {
  background-color: #15354A ;
}

body {
  color: white;
}

.about_p {
  color: black;
}

.associated_img {
  margin-top: 15px;
}

.img_foot {
  font-size: 0.8em; 
  color: white; 
  text-align: right; 
  margin-top: 5px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-slide.active {
  display: block;
}